* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Actor', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Quattrocento Sans', sans-serif;
}

body {
    background-color: #d9dcd6;
    font-family: 'Dosis', sans-serif;
}

.header {
    padding: 20px;
    font-family: 'Dosis', sans-serif;    
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 0px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../First-Homework/");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    font-family: 'Quattrocento Sans', sans-serif;
    display: inline-block;
    margin-left: 20px;
    height: 100%;
}

.content-subclass {
    margin-bottom: 20px;
    padding: 40px;
    height: 300px;
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: rgb(59, 114, 163);
    color: #ffffff;
}

.content-subclass img {
    max-height: 200px;
}

.content-subclass h2 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
}

.content-subclass p {
    font-size: 25px;
}

.benefit {
    margin-right: 20px;
    padding: 40px;
    clear: both;
    float: right;
    width: 20%;
    height: 70%;
    font-family: 'Actor', sans-serif;    
    background-color: #2a607c;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 5px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.benefit img {
    display: block;
    margin: auto;
    max-width: 130px;
}

.benefit p {
    padding-bottom: 30px;
    font-size: 18px;
}

.footer {
    padding: 30px;
    color: black;
    clear: both;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

